 
/* Portfolio heading 1st section*/ 
#Name{
    color:white; font-size: 40px; font-weight: bold;
    background: teal;
    /* color: white; */
    padding: 8px;
    text-align: center; 
    /* font-size: 40px; */
    /* If H and W are used,html prefers to use top and bottom*/
    height: 43px;
    width: 200px;
    position: fixed; /* position is fixed to the window screen size*/
    top: 1.5%; /* how far down from the top of the window screen*/
    left: 15%; /* how far from the left side of the window screen*/
      /* z-index: 2; */
}
/* positioned under the 1st section */
a{text-decoration:none} /*gets rid of underlined Nav links*/
.Nav {    
    font-size: 25px;
    position: fixed; /* position is fixed to the window screen size*/
    top: 3%; /* how far down from the top of the window screen*/
    left: 65%; /* how far from the left side of the window screen*/
    /* z-index: 1; */
}


/*positioned under 1st section*/
.Footer {
    border-top: 10px teal solid;
    position: fixed;
    background-color: #504e4e;
    color: white;
    text-align: center;
    left: 4%;
    bottom: 0%;
    width: 90%;
    height: 6%;
    z-index: 1;
}

#Container{
    width: 60%;
    height: 96%;
}
/* gray background, 2nd section*/
#Gray_Section{
    border-top: 1px gray solid;
    background: gainsboro;
    color: black;
    height: 90%;
    width: 90%;
    position: fixed;
    top: 8%;
    left: 4%;
    z-index: -1;
}
/* this is where the about me is, 3rd section */
.Bio{
    border: 1px gainsboro solid;
    background-color:white;
    /* getting rid of the section size will default it to the text size */
    /* height: 80%;*/
    width: 60%; 
    position: fixed;
    top: 16%;
    left: 18%;
    z-index: 1;
}
/*Container holding the image and the text*/


/*position of the text over the image*/
.hangman_text {
    position: absolute;
    bottom: 40%;
    left: 1%;
    width: 28%;
    background: teal;
    color: white;
    font-size: 20px;
    text-align: center; 
}
.rpggame_text{
    position: absolute;
    bottom: 40%;
    left: 30.5%;
    width: 30%;
    background: teal;
    color: white;
    font-size: 20px;
    text-align: center; 
}
.trivia_text{
    position: absolute;
    bottom: 34%;
    left: 64%;
    width: 25%;
    background: teal;
    color: white;
    font-size: 20px;
    text-align: center; 
}
.widget_text{
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 30%;
    background: teal;
    color: white;
    font-size: 20px;
    text-align: center; 
}
.rockpaperscissors_text{
    position: absolute;
    bottom: 2%;
    left: 30.4%;
    width: 30%;
    background: teal;
    color: white;
    font-size: 18px;
    text-align: center; 
}
.Contact{
    text-align: center;
    background: white;
    height: 70%;
    width: 55%;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 1;
 
}
/*size of the submit button*/
button{
    background: #4aaaa5;
    width: 20%;
    
} 
/* text area*/
#subject{
    width: 500px;
    height:200px;
}

#Headshot{
    position: relative;
    float: left; /* float to the left of the container */
    padding: 10px;
    width: 30%;
    height: 40%;
    z-index: 2;
} 
h1{
    color:#4aaaa5; font-size: 45px; font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    border-bottom: 2px gray double;
}
p{
  font-size: 20px;  
  line-height: 1.6;
}
